# Practical 05 - Collections

## Setup

In [ ]:
#@markdown **Please enter your following details and press Shift-Enter to save:**
your_student_number = '20112920' #@param {type: "string"}
your_name = 'John Murphy' #@param {type: "string"}

In [ ]:
# setup magic, do not edit this cell! Just press Shift+Enter or click on arrow at top-left

import urllib.request
content = urllib.request.urlretrieve ("https://setu-discretemathematics.github.io/live/files/setup_practical_magic.py")
exec(open(content[0]).read())
setup_practical(locals(),_ih)

---
## Introduction

In this practical we will use Python to work with data collections. We will use the following collections:

* Sets  &mdash; unordered collections of distinct (unique) elements
* Lists  &mdash; ordered collections of elements (may or may not be distinct)
* Tuples &mdash; like lists but immutable (cannot be changed)
* Strings &mdash; like a list of characters (but immutable)

In typical applications we regularly use multiple collections in combination to solve problems and convert between collections to get the desired functionality. For example, we

* convert a `list`/`tuple`` to a `set`` to remove duplicates.
* convert a `str` to a `list` to manipulate the characters.
* convert a `set` to a `list` to sort the elements.
* convert a `list` to a `str` to display the result (use str method `join`).

* convert a `tuple` to a `list` to change the elements.
* convert a `list` to a `tuple` to make it immutable (and faster to work with).

* and on and on ...

### Python Concepts

* Size of collection: To get the number of elements in a collection we use the `len` function.

~~~python
    A = {1,5,7, {3,4}}
    len(A) # returns 4
~~~

 * To convert from a `set` to a `list` use the `list` function:

~~~python
    A = {1,5,7, {3,4}}
    list(A) # returns [1,5,7, {3,4}]
~~~

Notice that the `set` is converted to a `list` but the `set` within the `set` is not converted to a `list`!

* To convert from a `list` to a `set` use the `set` function:

~~~python
    A = [1,5,7]
    set(A) # returns {1,5,7}   
~~~

* set/list comprehension: Are a concise way to create `sets`/`lists`. For example, to create a `list` of the squares of numbers from -5 to 5 we can use:

~~~python
    A = [x**2 for x in range(-5,6)]
    print(A) # returns [25, 16, 9, 4, 1, 0, 1, 4, 9, 16, 25]
~~~

And to create a set of the squares of numbers from -5 to 5 we can use:

~~~python
    A = {x**2 for x in range(1,11)}
    print(A) # returns {0, 1, 4, 9, 16, 25}
~~~

Or we could have just taken the `list`` and converted it to a set using `set(A)`.

---
## Example Application: Counting the number of unique letters in a text

Consider the problem of counting the number of unique letters in a text. For example, consider the sentence

    "The fast brown fox jumps over the lazy dog."

There are a number of ways to solve this problem. Depending on the text some ways are better (easier to implement / faster / etc) than others. So let's consider a few ways to solve this problem.

Generally we will need to:

* Convert string to `set` to remove duplicates.
* The string has mixed case so convert to lower case
  * We have a `str` method `.lower()` for this.
* We also need to remove spaces and punctuation.
  * We can use the `str` method `.replace()` to remove spaces and punctuation.
  * We can use the `str` method `.isalpha()` to check if a character is a letter.

### Question 1

Write code to count the number of distinct letters in the sentence

"The fast brown fox jumps over the lazy dog."

**Strategy:** convert to lower case, remove spaces and punctuation, and then convert to a set. Finally output size of set.

In [6]:
# Question 1
data = "The fast brown fox jumps over the lazy dog"
str.lower(data)
str.replace(data," ", " ")
set(data)
len(data)

42

### Question 2

Write code to count the number of distinct letters in the sentence

"The fast brown (and brave) fox jumps over the lzay [sic] dog, who said 'woff'!"

**Strategy:** This example has lots of punctuation so using `str` method `.replace()` to remove punctuation is not practical. Instead we can use the `str` method `.isalpha()` to check if a character is a letter, and build set using a `set` comprehension.

In [7]:
# Question 2
data = "The fast brown (and brave) fox jumps over the lazy [sic] dog, who said 'woff'!"
str.lower(data)
str.isalpha(data)
set(data)
len(data)

78

### Question 3

Write code to count the number of distinct letters in the sentence

"The fast brown (and brave) fox jumps over the lzay [sic] dog, who said 'woff'!"

**Strategy:** Convert to lower case and convert to set as in Q1, but the resulting set then contains punctuation. So before finding the size of this set, get its intersection with the set of lower case letters. Why does this work!

In [11]:
# Question 3
data = "The fast brown (and brave) fox jumps over the lazy [sic] dog, who said 'woff'!"

from string import ascii_lowercase   # the string 'abcd...xzy'
str.lower(data)
set(data)
set(data).intersection(ascii_lowercase)
len(data)

78

---
## Determining elements in common in two collections

### Question 4

Consider the Arithmetic Progression (AP)

```python
5, 12, 19, 26, 33, 40, 47, 54, 61, 68, ..., <1000
```

and the Arithmetic Progression (AP)

```python
7, 18, 29, 40, 51, 62, 73, 84, 95, 106, ..., <1000
```

Write python code to count the number of elements in common in the two APs.

In [14]:
# Question 4
A = set(range(5,1000,7))
B = set(range(7,1000,11))
num = A.intersection(B)
print(num)
len(A.intersection(B))

{194, 579, 964, 40, 425, 810, 271, 656, 117, 502, 887, 348, 733}

13

### Question 5

Consider the Arithmetic Progression (AP)

```python
5, 12, 19, 26, 33, 40, 47, 54, 61, 68, ..., <1000
```

and the Arithmetic Progression (AP)

```python
7, 18, 29, 40, 51, 62, 73, 84, 95, 106, ..., <1000
```

Write python code to count the number of elements that are in the first AP or in the second but not in both APs.

In [15]:
# Question 5
A = set(range(5,1000,7))
B = set(range(7,1000,11))
num = A.union(B)
print(num)
len(A.union(B))

{513, 516, 5, 7, 523, 12, 524, 530, 19, 18, 535, 537, 26, 29, 544, 33, 546, 551, 40, 557, 558, 47, 51, 565, 54, 568, 572, 61, 62, 579, 68, 73, 586, 75, 590, 593, 82, 84, 600, 89, 601, 607, 96, 95, 612, 614, 103, 106, 621, 110, 623, 628, 117, 634, 635, 124, 128, 642, 131, 645, 649, 138, 139, 656, 145, 150, 663, 152, 667, 670, 159, 161, 677, 166, 678, 684, 173, 172, 689, 691, 180, 183, 698, 187, 700, 705, 194, 711, 712, 201, 205, 719, 208, 722, 726, 215, 216, 733, 222, 227, 740, 229, 744, 747, 236, 238, 754, 243, 755, 761, 250, 249, 766, 768, 257, 260, 775, 264, 777, 782, 271, 788, 789, 278, 282, 796, 285, 799, 803, 292, 293, 810, 299, 304, 817, 306, 821, 824, 313, 315, 831, 320, 832, 838, 327, 326, 843, 845, 334, 337, 852, 341, 854, 859, 348, 865, 866, 355, 359, 873, 362, 876, 880, 369, 370, 887, 376, 381, 894, 383, 898, 901, 390, 392, 908, 397, 909, 915, 404, 403, 920, 922, 411, 414, 929, 418, 931, 936, 425, 942, 943, 432, 436, 950, 439, 953, 957, 446, 447, 964, 453, 458, 971, 460, 975, 978, 467, 469, 985, 474, 986, 992, 481, 480, 997, 999, 488, 491, 495, 502, 509}

221

### Question 6

Consider the Geometric Progression (AP)

```python
3, 6, 12, 24, 48, 96, 192, 384, 768, 1536, ..., <1_000_000
```

and the Geometric Progression (AP)

```python
2, 6, 18, 54, 162, 486, 1458, ..., <1_000_000
```

Write python code to output the number of elements that are in common to both GPs. Why is this result unexpected (hopefully)?

In [18]:
# Question 6
A = set()
num = 3
while num < 1_000_000:
 A.add(num)
 num *= 2

B = set()
num = 2
while num < 1_000_000:
 B.add(num)
 num *= 3

A.intersection(B)
len(A.intersection(B))

1

---
## Optional Questions (Not used when grading)

### Question 7

Consider the Geometric Progression (GP)


```python
3, 6, 12, 24, 48, 96, 192, 384, 768, 1536, ..., <1_000_000
```

None of the terms are multiple of 5, but some are one less than a multiple of 5 (for example 24, 384, ...) and some are one more than multiples of 5 (for example 1536).

Write python code to compute:

* `count_one_less` = count number of terms that are one less than a multiple of 5.
* `count_one_more` = count number of terms that are one more than a multiple of 5.
* output the difference

```python
count_one_less - count_one_more
```

In [ ]:
# Question 7

---
## Review/Feedback (P05)

In [ ]:
#@markdown This a a short questionnaire for you to provide feedback on how you think the semester is progressing and in particular for __Discrete Mathematics__, how easy/difficult, interesting/boring, useful/confusing you find the material. By completing the following you will help us improve our delivery.<br />Please enter your feedback and click on arrow at top-left to save.

#@markdown **This practical**

#@markdown How difficult did you find this practical?
practical_difficulty = 'No opinion' #@param ['No opinion', "Too easy', 'Easy', 'About right', 'Some bits were hard but overall it was doable', 'Too difficult', 'Impossible']

#@markdown Including online session time, how long (in minutes) did it take for you to finish this practical?
practical_duration = 0 #@param {type: "number"}

#@markdown **This week's material**

#@markdown How difficult did you find each of the following this week?
lecture_difficulty = 'No opinion' #@param ['No opinion', "Too easy', 'Easy', 'About right', 'Some bits were hard but overall it was doable', 'Too difficult', 'Impossible']

tutorial_questions_difficulty = 'No opinion' #@param ['No opinion', "Too easy', 'Easy', 'About right', 'Some bits were hard but overall it was doable', 'Too difficult', 'Impossible']

#@markdown Use the line below to enter any comments &mdash; what you liked, what you did not like. Again all feedback is welcome.
general_comment = "" #@param {type: "string"}